body{
	background-image: url("burlap_seamless.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	margin:0 ;
	
}

h3, h5{
	font-family: "Montserrat", sans-serif;
	color: #5D710D;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
}
h3 {font-size: 22px;
	margin-left: 15px;}
h4 {
	font-family: "Handlee", sans-serif;
	color: #000;
	font-size: 3.5em;
	margin: 0;
}
h5 {font-size: 15px;
	text-transform: uppercase;}

p {width: 95%;
	text-align: left;
	font-family: "Roboto";
	}
div > p {
	margin-left: auto;
	margin-right: auto;
}
button {
	background-color: #8ABBB1;
	display:none;
}

/*HEADER*/

/*HEADER-Containers*/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
	background-color: #8abbb1;
	border-radius: 10px;
}
#logo{
	width: 100%;
	height: auto;
	text-align: center;
}

nav {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	width: 70%;
	height: 10%;
	padding-bottom: 10px;
	text-align: center;
	
}

.socialmedia {
	width: 20%;
	height: 10%;
}

/*styling header*/

nav a {
	color:#000;
	text-decoration: none;
	padding: 30px 5px 0px 5px;

}

nav a:hover {
	color: #FFF;
}

div.socialmedia img {
	height: 20%;
	width: 20%;

}
div.socialmedia img:hover {
	filter: invert(90%);
}

/*PAGE CONTENT*/
.container {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-left: 10%;
}

/*Maintext centered*/
.container-info {
	display: flex;
	width: 70%;
	height: 40%;
	margin-top: 20px;
}

.container-info div:first-child {
	margin: auto;
	width: 100%;
	background-color: white;
	padding: 5px 50px 15px 50px;
	text-align: center;
	
}
.container-info img {
	width: 95%;
	height: 100%;
}

/*picture and text right side*/
.container-side {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 30px 15px;
	text-align: left;
	margin-top: -10px;
}

.container-side div  {
	width: 70%;
	background-color: white;
	padding: 25px;
	margin-bottom: 25px;
}

.container-side img {
	width: 100%;
	height: 100%;

}

/*FOOTER*/

body > footer {
   margin: 2% 7% 20px;
 }

body > footer {
 display: flex;
 flex: 1 2 auto;
 border-top: 1px solid #fff;
 flex-flow: nowrap;
 justify-content: space-around;
 color: #fff;
 background-color: rgba(165, 165, 165, 0.48);
 break-before: always;
 margin: 20px 15% 0;
 padding: 10px;
}

body > footer > div > ul > li:first-child {
 font-family: "Roboto", sans-serif;
 line-height: 24px;
 margin-bottom: 8px;
 font-size: 1.3em;
 color: #000;
}

body > footer > div > ul {
 list-style: none;
 color: #000;
 padding: 0;
 margin: 25px 0;
}

/* Link */

/* Set position relative to parent element */
body > footer > div > ul > li {
 position: relative;
 margin: 1px 0;
}

/* Position absolute on "a"-element, 100% width & height. */
body > footer > div > ul > li > a {
 position: absolute;
 height: 100%;
 width: 100%;
}

/* Double :not */
body > footer > div:not(:nth-child(4)) > ul > li:not(:first-child):hover {
 color: #ddd674;}

body > footer > div:first-child {
 display: flex;
 flex-direction: column;
}
body > footer > div > div {
 display: flex;
 margin-top: -10px;
 justify-content: center;
}
body > footer h4 {
     font-size: 2.7em;
 }

 body > footer > div > div > img {
   width: 38px;
   height: 38px;
   padding: 1.5px;
 }




=======
body{
	background-image: url("burlap_seamless.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	margin:0;
	
}

h3, h5{
	font-family: "Montserrat", sans-serif;
	color: #5D710D;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
}
h3 {font-size: 22px;
	margin-left: 15px;}
h4 {
	font-family: "Handlee", sans-serif;
	color: #000;
	font-size: 3.5em;
	margin: 0;
}
h5 {font-size: 15px;
	text-transform: uppercase;}

p {width: 95%;
	text-align: left;
	font-family: "Roboto";
	}
div > p {
	margin-left: auto;
	margin-right: auto;
}
button {
	background-color: #8ABBB1;
	display:none;
}

/*HEADER*/

/*HEADER-Containers*/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
	background-color: #8abbb1;
	border-radius: 10px;
}
#logo{
	width: 100%;
	height: auto;
	text-align: center;
}

nav {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	width: 70%;
	height: 10%;
	padding-bottom: 10px;
	text-align: center;
	
}

.socialmedia {
	width: 20%;
	height: 10%;
}

/*styling header*/

nav a {
	color:#000;
	text-decoration: none;
	padding: 30px 5px 0px 5px;

}

nav a:hover {
	color: #FFF;
}

div.socialmedia img {
	height: 20%;
	width: 20%;

}
div.socialmedia img:hover {
	filter: invert(90%);
}

/*PAGE CONTENT*/
.container {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-left: 10%;
}

/*Maintext centered*/
.container-info {
	display: flex;
	width: 70%;
	height: 40%;
	margin-top: 20px;
}

.container-info div:first-child {
	margin: auto;
	width: 100%;
	background-color: white;
	padding: 5px 50px 15px 50px;
	text-align: center;
	
}
.container-info img {
	width: 95%;
	height: 100%;
}

/*picture and text right side*/
.container-side {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 30px 15px;
	text-align: left;
	margin-top: -10px;
}

.container-side div  {
	width: 70%;
	background-color: white;
	padding: 25px;
	margin-bottom: 25px;
}

.container-side img {
	width: 100%;
	height: 100%;

}

/* FOOTER */
body > footer {
   margin: 2% 10% 20px;
 }

footer {
 display: flex;
 flex: 1 2 auto;
 border-top: 2px solid #fff;
 flex-flow: nowrap;
 justify-content: space-around;
 color: #fff;
 background-color: rgba(165, 165, 165, 0.48);
 break-before: always;
 margin: 20px 15% 0;
 padding: 10px;
}
footer > div > ul > li:first-child {
 font-family: "Lora", sans-serif;
 line-height: 24px;
 margin-bottom: 8px;
 font-size: 1.3em;
 color: #000;
}

footer > div > ul {
 list-style: none;
 color: #000;
 padding: 0;
 margin: 25px 0;
}

/* Link */

/* Set position relative to parent element */
footer > div > ul > li {
 position: relative;
 margin: 1px 0;
}

/* Position absolute on "a"-element, 100% width & height. */
footer > div > ul > li > a {
 position: absolute;
 height: 100%;
 width: 100%;
}

/* Double :not */
footer > div:not(:nth-child(4)) > ul > li:not(:first-child):hover {
 color: #ddd674 ;

}

footer > div:first-child {
 display: flex;
 flex-direction: column;
}
footer > div > div {
 display: flex;
 margin-top: -20px;
 justify-content: center;
}

footer > div > div > img {
 width: 48px;
 height: 48px;
 padding: 3px;
}



>>>>>>> upstream/master
