body{
  text-align: center;
  overflow: scroll;
  background-color: #EDCDC2;
  font-family: "Montserrat", sans-serif;
}
h1{
  text-align: center;
  font-size: 3em;
  color: #223A5E;
}
h3{
  font-style: italic;
  text-align: center;
}
h2{
  color:#223A5E;
}
p{
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.img_us{
  border-radius: 50%;
  margin: 30px;
  border: 2px solid #F6D155;
  position: relative;
  display: inline-flex;
  background-color:white;
  filter: grayscale(100%);

}
.dropdown{
  position:relative;
  display: inline-block;
}
.dropdown-content{
  position: relative;
  display: block;
  max-width: 350px;
  max-height: 450px;
  border: 1px solid #223A5E;
  background-color: #f18973;
  color:white;
  padding: 10px;
  margin-top: -50px;
  margin-bottom: 20px;
  margin-left: 15px;

}
.dropdown:hover .img_us{
  cursor: pointer;
  filter: grayscale(0%);
}
.dropdown:hover .dropdown-content{
  display: block;
}
.contact{
  text-align: left;
  border: 1px solid #223A5E;
  background: white;
  font-size: 20px;
  padding: 10px;
  margin:  20px 200px;
}
@media(max-width: 600px){
  .img_us{
    background-color: white;
    }
  .dropdown-content{
    display: inline-block;
    position: relative;
    width: 350px;
    max-height: auto;
    margin: 0;
  }
}
.button{
  background-color: #223A5E;
  color: white;
  width: 150px;
  height: 50px;
  padding: 12px 28px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.button:hover{
  background-color: #4474bb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}
.button:active{
  border: 1px solid #8fabd6;
  background-color: white;
  font-size: 2em;
}
