html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  overflow: hidden;
}

.title {
  text-align: center;
  margin: 20px auto;
  display: inline;
  position: absolute;
  top: 39%;
  padding: 5px 8px 10px;
  font-size: 20px;
  left: 41%;
  z-index: 0;
}
.title h1 {
  text-shadow: 3px 3px 12px #222;
  font-size: 20px;
  padding: 0;
  margin: 0;
}


.table-wrapper {
  text-align: center;
  vertical-align: bottom;
  display: block;
  margin: auto;
  padding: 0;
  min-height: 214px;
  width: 100%;
  height: 100%;
}

.table {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.table > div {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.table > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Box Title style */
.table > div > div > p {
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  color: #222;
  background-color: #f1e6b6;
  padding: 12px 24px 14px;
  display: inline-block;
}
/* Background for Boxes */

.box1 {
   background-image: url(background1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
.box2 {
  background-image: url(background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box3 {
  background-image: url(background3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box4 {
  background-image: url(background4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Hover stuff for Boxes */
.box1:hover {
  background-image: url(background1_bw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box2:hover {
  background-image: url(background2_bw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box3:hover {
  background-image: url(background3_bw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box4:hover {
  background-image: url(background4_bw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Fadeins, overlays */
.overlay {
  position: absolute;
  text-align: left;
  display: block;
  margin: 0;
  left: 0px;
  right: 0px;
  background-color: rgba(70, 70, 70, 0.7);
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: 1.4s ease;
}

.overlay2 {
  position: absolute;
  text-align: left;
  display: block;
  margin: 0;
  right: 0px;
  background-color: rgba(70, 70, 70, 0.7);
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: 1.4s ease;
}

.overlay3 {
  position: absolute;
  text-align: left;
  display: block;
  margin: 0;
  bottom: 0px;
  background-color: rgba(70, 70, 70, 0.7);
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: 1.4s ease;
}

.overlay4 {
  position: absolute;
  text-align: left;
  display: block;
  margin: 0;
  right: 0px;
  bottom: 0px;
  background-color: rgba(70, 70, 70, 0.7);
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: 1.4s ease;
}
/* Hover to activate fadein menu */
/* Redigera här för att se fadein menyn byta storlek */
.box1:hover + .overlay, .box2:hover + .overlay2, .box3:hover + .overlay3, .box4:hover + .overlay4, .overlay:hover, .overlay2:hover, .overlay3:hover, .overlay4:hover {
  width: 50%;
}

/* The text on the fadein menu */
.text {
  font-family: serif;
  display: block;
  position: absolute;
  padding: 15px;
  max-height: 100%;
  width: 220px;
  margin: 120px 10px -10px;
  font-size: 16px;
  overflow: hidden;
}

/* Small title for fadein menu */
.sm-title {
  font-size: 1.6em;
  line-height: 50px;
}

/* Stylesheet for links in fadein menu */
.text > .btn {
  text-decoration: none;
  display: block;
  width: 50%;
  background-color: #f1e6b6;
  color: #222;
  text-align: center;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px #222;
}

.text > .btn:hover {
  background-color: #f5eed0;
  text-shadow: 2px 2px 5px #fff;
}

  /* Animationskoden */
@keyframes colorchange {
    0%   {background-color: rgba(136, 75, 75, 0.2);}
    100% {background-color: inherit;}
}
/* Media Screens */

/* Width Screens */
@media screen and (max-width: 550px) {
  .text {
    width: 180px;
    margin: 60px 10px -10px;
  }
}

@media screen and (max-width: 480px) {
  .text {
    width: 180px;
    margin: 60px 10px -10px;
  }
}

@media screen and (max-width: 420px) {
  .text {
    width: 160px;
  }
}

/* Height screen */

@media screen and (max-height: 850px){
  .text {
    margin: 60px 10px -10px;
  }
}

@media screen and (max-height: 510px){
  .text {
    margin: 10px 10px -10px;
  }
  .text > .btn {
    display: none;
  }
}

@media screen and (max-height: 390px){
  .box1:hover + .overlay, .box2:hover + .overlay2, .box3:hover + .overlay3, .box4:hover + .overlay4 {
    width: 0%;
  }
  .box1,.box2,.box3,.box4 {
    padding: 0;
    margin: 0;
  }
  .overlay, .overlay2, .overlay3, .overlay4 {
    display: none;
  }
}




/* Width and Height screens */

@media screen and (max-height: 650px), (max-width: 420px) {
  .text {
    margin: 10px 10px -10px;
  }
}

@media screen and (max-height: 600px), (max-width: 800px){
  .table > div > div > p {
    font-size: 0.8em;
  }
}

@media screen and (max-height: 480px), (max-width: 650px){
  .table > div > div > p {
    font-size: 0.6em;
  }
}

@media screen and (max-height: 400px), (max-width: 580px){
  .table > div > div > p {
    font-size: 0.4em;
  }

  @media screen and (max-height: 215px){
    .table > div > div > p {
      font-size: 0.35em;
      margin: 10px;
      padding: 8px 18px;
    }
    .table > div > div {
      margin-top: -20px;
    }
  }
}
