body{
  text-align: center;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.header{
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  padding: 5px;
  background-color: #d5f4e6;
  color: #618685;
  margin: 0;
}
.headborder{
  border: 4px dotted #618685;
  margin: 30px;
}

h1{
  text-align: center;
  font-size: 3em;
  color: #223A5E;
}
h3{
  font-style: italic;
  text-align: center;
}
h2{
  color:#223A5E;
}
p{
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #80ced6;
  border: 1px solid #223A5E;
}
li{
  float: left;
}
li a{
  display: block;
  color: #223A5E;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Roboto";
}
li a:hover{
  background-color: #fefbd8;
  text-decoration: underline;
}
.img_us{
  border-radius: 50%;
  margin: 30px;
  border: 2px solid #F6D155;
  position: relative;
  display: inline-flex;
  background-color:white;
  filter: grayscale(100%);
  width: auto;
  height: auto;

}
.dropdown{
  position:relative;
  display: inline-block;
}
.dropdown-content{
  position: relative;
  display: block;
  max-width: 350px;
  max-height: 450px;
  border: 1px solid #80ced6;
  background-color: #fefbd8;
  color:black;
  padding: 10px;
  margin-top: -50px;
  margin-bottom: 20px;
  margin-left: 15px;

}
.dropdown:hover .img_us{
  cursor: pointer;
  filter: grayscale(0%);
}
.dropdown:hover .dropdown-content{
  display: block;
}
.contact{
  position: relative;
  text-align: left;
  border: 1px solid #223A5E;
  background: #d5f4e6;
  font-size: 20px;
  padding: 10px;
  margin:  10px 50px;
}
@media(max-width: 600px){
  .img_us{
    background-color: white;
    }
  .dropdown-content{
    display: inline-block;
    position: relative;
    width: 350px;
    max-height: auto;
    margin: 0;
  }
}
.button{
  background-color: #223A5E;
  color: white;
  width: 150px;
  height: 50px;
  padding: 12px 28px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.button:hover{
  background-color: #4474bb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}
.button:active{
  border: 1px solid #8fabd6;
  background-color: white;
  font-size: 25px;
  color:#8fabd6;
}
.txtarea{
  width: 70%;
  height: 200px;
}
footer{
  background-color: #223A5E;
  font-style: italic;
  color:white;
  text-align: center;
  padding:3px;
  margin: 0;
}
