body{
	background-image: url("burlap_seamless.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	
}

h3, h5{
	font-family: "Montserrat", sans-serif;
	color: #5D710D;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
}
h3 {font-size: 22px;
	margin-left: 15px;}
h5 {font-size: 15px;
	text-transform: uppercase;}

h4 {
	 font-family: Handlee, sans-serif;
	 color: #000;
	 font-size: 4.5em;
	 padding: 0;
	 margin: 0;
}

p {width: 95%;
	text-align: left;
	font-family: "Roboto";
	}
div > p {
	margin-left: auto;
	margin-right: auto;
}

/*HEADER*/

/*HEADER-Containers*/
header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	width: 100%;
	background-color: #8ABBB1;
	line-height: 30px;
	text-align: center;
	
}
#logo{
	width: 100%;
	height: auto;
	padding: 15px;
	padding-top: 20px;
	
}

nav {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	height: 10%;
	padding-bottom: 10px;
	
}

.socialmedia {
	width: 100%;
	height: 10%;
}

/*styling header*/

nav a {
	color:#000;
	text-decoration: none;
	padding: 30px 5px 0px 5px;

}

nav a:hover {
	color: #FFF;
}

div.socialmedia img {
	height: 30px;

}
div.socialmedia img:hover {
	filter: invert(90%);
}

/*PAGE CONTENT*/
.container {
	width: 90%;
	margin-left: 10%;
}

/*Maintext centered*/
.container-info {
	width: 70%;
	height: 40%;
	margin-top: 50px;
}

.container-info div:first-child {
	margin: auto;
	width: 100%;
	background-color: white;
	padding: 5px 50px 15px 50px;
	text-align: center;
	
}
.container-info img {
	width: 95%;
	height: 100%;
}

/*picture and text right side*/
.container-side {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 15px;
	text-align: left;
	margin-top: 70px;
	
}

.container-side div  {
	width: 70%;
	background-color: white;
	padding: 25px;
	margin-bottom: 25px;

}
.container-side div:first-child {
	display: none;
}

.container-side img {
	width: 100%;
	height: 100%;
	display: none;

}


/*facebook/instagram-icons*/

#arrow {
	width: 250px;
	position: absolute;
	top: 90px;
	left: 15px;
}

#facebook {
	width: 50px;
	position: absolute;
	top: 170px;
	left: 60px;
}

#instagram {
	width: 50px;
	position: absolute;
	top: 225px;
	left: 60px;
}

