/*GENERAL*/
body {
	font-family: "Roboto";
	background-image: url("burlap_seamless.jpg");
	background-repeat: repeat;
	background-attachment: fixed;

}
h3 {font-size: 20px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	padding-top: 20px;
	margin: auto;}
main {
	max-width:1200px;
	margin-top:50px;
	max-width:980px;
	margin-left: auto;
	margin-right: auto;
	padding:8px 16px;
}



/*HEADER*/
header {
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	width: 100%;
	height: 60px;
	background-color: #8ABBB1;
	font-family: "Montserrat", sans-serif;
}
header > img:first-child {
	height: 90%;
	padding:5px;

	float: left;
}

header > a {
	color:#000;
	text-decoration: none;
	padding: 30px 5px 0px 5px;
	float: left;

}

header > a:hover {
	color: #334D2C;
}

div.socialmedia img {
	width: 3.5%;
	padding: 22px 5px 0px 5px;
	float: right;
}
div.socialmedia img:hover {
	filter: invert(100%);
}


/*FOOTER*/
footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	height: 40px;
	font-family: "Montserrat", sans-serif;
}
footer > a {
	color: #000;
	text-decoration: none;
	padding: 20px 5px 0px 5px;
	float: left;
}
footer > a:hover {
	color: #BBB18A;
}


/*PAGE CONTENT */
p{
	width: 170px;
	font-family: "Roboto";
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	background-color: #95BB8A;
	padding: 10px;
	
}

.quarter {
	width: 24%;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	
}

.container div:first-child {
	width: 100%;
	margin-bottom: 10px;
}



        


